* {
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

#gameContainer {
    min-height: 4vmin;
    min-width: 10vmin;
    font-family: 'Rum Raisin', sans-serif;
    border-radius: 10px;

}

.icon{
    border: 3px solid yellow;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.8), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    background-color: white;
    height: 25vmin;
    width: 25vmin;
}

#title {
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    border: 2px solid red;
    border-radius: 10px;
    background-color: red;
    text-shadow: 1px 1px 2px pink;
}

#alertMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid yellow;
    border-radius: 10px;
    background-color: yellow;
    font-size: 1.3em;
    height: 10vh;
}

#gameIconsContainer{
    display: flex;
    justify-content: space-evenly;
    border: 4px solid red;
    border-radius: 10px;
    padding: 2rem;
    background-color: red;
}

#hud{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: yellow;
}

#wagerChangeContainer{
    display: flex;
    align-items: center;
    margin: 10px;
}

.wagerButton{
    background-color: red;
    height: 5vmin;
    width: 10vmin;
    font-size: 1.5rem;
    border-radius: 5px;
    min-width: 15vmin;
    min-height: 15vmin;
    margin: 1vmin;
}

.wagerButton:hover{
    background-color: crimson;
    cursor: pointer;

}

.hudItem{
    min-width: 30vmin;
    text-align: center;
}

#spinButton{
    width: 100%;
    height: 10vh;
    background-color: red;
    font-size: 2rem;
    text-shadow: 1px 1px 2px pink;
}

#spinButton:hover{
    cursor: pointer;
    background-color: crimson;
}

img {
    height: 100%;
    width: 100%;
}